IMAP_MAIL_BOX_FOLDER=INBOX
IMAP_MOVE_EMAILS=true
IMAP_MOVE_EMAIL_FOLDER=Processed
IMAP_MOVE_NO_ATTACHMENT_EMAILS=false
IMAP_NO_ATTACHMENT_FOLDER=NoAttachments
IMAP_ONLY_FETCH_UNREAD_EMAILS=true
IMAP_MARK_EMAIL_AS_READ_AFTER_FETCHING=true
IMAP_USERNAME=example@email.com
IMAP_PASSWORD=yourpassword
IMAP_HOST=imap.example.com
IMAP_PORT=993
IMAP_TLS_ENABLED=true
